.blog_shine {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.blog_shine::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -150px;
    right: -100px;
    width: 700px;
    height: 1000px;
    background: #5956E9;
    background-image: url("../../public/assets/images/biznez.png");
    transform: rotate(-20deg);
}

@media screen and (max-width: 450px) {
    .blog_shine::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: -150px;
        left: 250px;
        width: 700px;
        height: 1000px;
        background: #5956e9;
        background-image: url("../../public/assets/images/biznez.png");
        transform: rotate(-20deg);
    }
}