/* @layer base {
    body {
        @apply h-screen bg-gradient-to-br from-[#0055ff] to-[rgb(0, 153, 255)] overflow-hidden;
    }

    nav {
        @apply absolute top-0 left-0 bottom-0 w-[300px];
    }

    ul {
        @apply p-5 absolute top-[100px] w-[260px];
    }

    li {
        @apply flex items-center mb-5 space-x-6 cursor-pointer;
    }

    button {
        @apply border-0 outline-none focus: outline-none absolute top-[17px] left-[29px] w-[50px] h-[50px] rounded-full;
    }
}

@layer components {
    .background {
        @apply bg-white absolute top-0 left-0 bottom-0 w-[300px];
    }

    .icon-placeholder {
        @apply w-[45px] h-[45px] rounded-full;
    }

    .text-placeholder {
        @apply flex-1 h-8 rounded-lg;
    }
} */

/* menu items */

/* ul li:nth-child(1) span {
    border: 2px solid #FF008C;
}

ul li:nth-child(2) span {
    border: 2px solid #D309E1;
}

ul li:nth-child(3) span {
    border: 2px solid #9C1AFF;
}

ul li:nth-child(4) span {
    border: 2px solid #7700FF;
}

ul li:nth-child(5) span {
    border: 2px solid #4400FF;
} */

main {
    position: absolute;
    right: 0;
    /* right: 0;
    top: 0; */
    display: flex;
    flex-direction: row-reverse;
    z-index: 99999;
    background-color: transparent !important;
}

aside {
    background-color: #ffffff;
    width: 18.75rem;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    margin: 4.5rem 1.4rem;
}

.btn-container {
    position: fixed;
}

.container a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    margin: 20px;
}

button {
    cursor: pointer;
    margin: 1.25rem;
    border: none;
    padding: 0.5rem 1rem;
}